html {
  scroll-behavior: smooth;
  height: 100%;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "poppins" , "Arial" , sans-serif;
  height: 100%;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

main {
  flex-grow: 1;
}
  .dark {
    background-color: #1F2E35 !important;
    .navbar__link {
      color: #fff;
    }
    .site-header__link {
      color: #fff;
    }
    .client-title {
      color: #fff;
    }
    .product-title {
      color: #fff;
    }
    .product-section {
      background-color: #22343D !important;
    }
    .result-title {
      color: #fff;
    }
    .product-text {
      color: #fff;
    }
    .product-item {
      border: 1px solid #DEDEDE;
    border-radius: 10px
    }
    .work-title {
      color: #fff;
    }
    .work-str{
      color: #fff;
    }
    .for-title {
      color: #fff;
    }
    .work-text {
      color: #fff;
    }
    .busines-section {
      background-color: #22343D !important;
    }
    .busines-title {
      color: #fff;
    }
    .enter-title {
      color: #fff;
    }
    .busines-text {
      color: #fff;
    }
    .enter-text {
      color: #fff;
    }
    .footer-end__strong {
      color: #fff;
    }
    .footer-end__linkk {
      color: #fff;
    }
    .footer-end__label {
      color: #fff;
    }
    .footer-end__end {
      color: #fff;
    }
    .my-hero__title {
      color: #fff;
    }
    .my-hero__textblade {
      color: #fff;
    }
    .my-hero__text {
      color: #fff;
    }
    .enterprice {
      background: #22343D;
    }
    .enterprice__title {
      color: #fff;
    }
    .enterprice__str {
      color: #fff;
    }
    .enterprice__text {
      color: #fff ;
    }
    .effect__title {
      color: #fff;
    }
    .effect__bottom__title {
      color: #fff;
    }
    .effect__bottom__text {
      color: #fff;
    }
    .asked__title {
      color: #fff;
    }
    .asked__text {
      color: #fff;
    }
    .asked__details {
      border-bottom: 1px solid #474747;
    }
    .asked__summary {
      color: #fff;
    }
    .asked__bottom__text {
      color: #fff;
    }
    .logo__text {
      color: #fff;
    }
    .hero__inner__title {
      color: #fff;
    }
    .hero__inner__text {
      color: #fff;
    }
    .hero__inner__form__input {
      background-color: transparent;
      color: #fff;
    }
    .hero__inner__content__text {
      color: #fff;
    }
    .aside__inner__title {
      color: #fff;
    }
    .aside__inner__subtitle {
      color: #fff;
    }
    .aside__inner__str__starong {
      color: #fff;
    }
    .service__inner__title {
      color: #fff;
    }
    .service__inner__subtitle {
      color: #fff;
    }
    .service__iframe {
      border-radius: 16px;
    }
    .service__inner__forms {
      background-color: #22343D;
      border: 1px solid #464646;
      border-radius: 20px;
    }
    .service__inner__forms__title {
      color: #fff;
    }
  }