.aside__inner__title{  
    margin: 0; 
    margin-bottom: 8px;
   text-align: center;
   font-weight: 700;
   font-size: 34px;
   line-height: 51px;
   color: #22343D;
} 
.aside__inner__subtitle{ 
    margin-bottom: 32px;
    text-align: center;
} 
.saide__inner__list{ 
   list-style: none; 
   padding-left: 0;
    display: flex;  
    flex-wrap: wrap; 
    margin-bottom: 32px;
} 
.aside__inner__item{ 
   margin-bottom: 32px; 
   margin-right: 32px;
   width: 100%;  
   max-width: 348px; 
   border-radius: 8px; 
   background: #FFFFFF; 
   border: 1px solid #E5E5E5;
}   
.aside__inner__item:nth-child(3){ 

    margin-right: 0;
} 

.aside__inner__item:nth-child(6){ 

    margin-right: 0;
}
.aside__inner__img{ 

    border-top-left-radius: 8px ; 
    border-top-right-radius: 8px;
}
.aside__inner__content{ 
  padding: 22px 24px 40px;

} 
.aside__inner__strong{ 

font-weight: 400;
font-size: 16px;
line-height: 175%;
color: #22343D;
} 
.aside__inner__span{ 

    font-weight: 700;
    font-size: 16px;
    color: #22343D;
} 
.aside__inner__content__title{ 
    font-weight: 700;
    font-size: 24px;
    line-height: 167%;
    color: #22343D;

} 
.aside__inner__str{ 

    text-align: center; 
    margin-bottom: 160px;
} 
.aside__inner__str__starong{ 
vertical-align: middle;
font-weight: 500;
font-size: 18px;
line-height: 144%;
color: #22343D;
} 
.aside__inner__svg{ 

    vertical-align: middle; 
    margin-left: 8px;
}