.asked {
    padding: 76px 0 150px;
}

.asked__title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
}

.asked__text {
    margin-bottom: 44px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #22343D;
}

.asked__content {
    max-width: 920px;
    margin: 0 auto;
}

.asked__details {
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 22px;
    padding-top: 16px;
}

.asked__summary {
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #22343D;
}

.asked__img {
    margin-right: 16px;
    margin-bottom: 3px;
}

.asked__bottom__text {
    margin-top: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #22343D;
}