// --------------------------------header begin----------------------------------------
.site-header{
   background-color: #fff;
}
.client-content{
   margin-top: 100px;
   text-align: center;
   padding-bottom: 130px;
}

.client-title{
   font-weight: bold;
   font-size: 40px;
   line-height: 100%;
   color:#22343D;
}
.client-box{
   margin: 0px auto;
   width: 100%;
   max-width: 860px;
   margin-top: 68px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

//-------------------------------------------------- header finish-------------------------------------