// --------------------------------header begin----------------------------------------
.site-header{
   background-color: #fff;
}
.client-content{
   margin-top: 100px;
   text-align: center;
   padding-bottom: 130px;
}

.client-title{
   font-weight: bold;
   font-size: 40px;
   line-height: 100%;
   color:#22343D;
}
.client-box{
   margin: 0px auto;
   width: 100%;
   max-width: 860px;
   margin-top: 68px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
@media only screen and (max-width:790px){
   .client-box{
      flex-wrap: wrap-reverse;
   }
   .client-link{
      margin-bottom: 50px;
   }
}

@media only screen and (max-width:570px){
   .client-content{
      margin: 0px auto;
   }
   .client-box{
      width: 100%;
      max-width: 100%;
      display: block;
   }
   .client-link{
      display: inline-block;
      margin-bottom: 50px;
      margin-right: 30px;
   }
}

//-------------------------------------------------- header finish-------------------------------------
//--------------------------------------------- product section begin------------------------
.product-section{
   background-color: #F5F5F5;
}
.product-content{
   padding-top: 24px;
   padding-bottom: 68px;
}
.product-title{
   text-align: center;
   color: #22343D;
   font-weight: bold;
   font-size: 34px;
   line-height: 100%;
}
.product-list{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.product-item{
   position: relative;
   text-align: center;
   width: 100%;
   max-width: 350px;
   padding: 114px 37px 34px 37px;
   border: 2px solid #DEDEDE;
   border-radius: 20px;
   
   &::before{
      position: absolute;
      background-image: url("../images/icon.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 51px;
      height: 50px;
      top: 32px;
      left: 140px;
      content: "";
   }
}
.product-item:nth-child(2){
   &::before{
      position: absolute;
      background-image: url("../images/icon-line.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 51px;
      height: 50px;
      top: 32px;
      left: 140px;
      content: "";
   }
}
.way-item{
   padding: 114px 25px 34px 25px;
   
   &::before{
      position: absolute;
      background-image: url("../images/icon-love.svg");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 51px;
      height: 50px;
      top: 32px;
      left: 140px;
      content: "";
   }
}
.result-title{
   margin: 0px;
   margin-bottom: 16px;
   color: #22343D;
   font-weight: bold;
   font-size: 24px;
   line-height: 92%;
}
.product-text{
   font-weight: 200px;
   font-size: 16px;
   line-height: 113%;
   line-height: 27px;
   color: #22343D;
   letter-spacing: 0.2px;
}

@media only screen and (max-width:570px){
   .product-content{
      max-width: 100%;
      margin: 0px auto;
      text-align: center;
   }
   .product-title{
      text-align: center;
      color: #22343D;
      font-weight: bold;
      font-size: 32px;
      line-height: 100%;
      margin-bottom: 50px;
   }
   .product-list{
      text-align: center;
      max-width: 100%;
      margin: 0px auto;
      display: block;
   }
   .product-item{
      margin: 0px auto;
      margin-bottom: 30px;
      &::before{
         position: absolute;
         background-image: url("../images/icon.svg");
         background-repeat: no-repeat;
         background-size: 100%;
         width: 51px;
         height: 50px;
         top: 32px;
         left: 130px;
         content: "";
      }
   }
}

//----------------------------------------- product section finish------------------------------------

//----------------------------------- work section begin----------------------------------

.work-section{
   background-color: #fff;
}
.work-content{
   padding-top: 100px;
   padding-bottom: 110px;
}
.work-title{
   color: #22343D;
   text-align: center;
   font-weight: bold;
   font-size: 34px;
   line-height: 100%;
}
.work-list{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   margin-top: 73px;
   margin-bottom: 70px;
}
.work-item{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 100px;
}
.work-item:nth-child(even){
   flex-direction: row-reverse;
}
.work-item:nth-child(3){
   margin-bottom: 0px;
}
.work-box{
   width: 100%;
   max-width: 440px;
}
.work-str{
   display: inline-block;
   color: #22343D;
   font-weight: 500;
   font-size: 20px;
   line-height: 100%;
   margin-bottom: 16px;
}
.for-title{
   font-weight: 600;
   font-size: 24px;
   line-height: 100%;
   color: #22343D;
   margin-bottom: 16px;
}
.work-text{
   font-weight: 300;
   font-size: 16px;
   line-height: 117%;
   color: #22343D;
   line-height: 28px;
}
.work-link__box{
   margin: 0px auto;
   text-align: center;
}
.work-link{
   font-weight: 600;
   font-size: 18px;
   line-height: 100%;
   text-decoration: none;
   color: #fff;
   background-color: #02897A;
   padding: 11px 18px;
   border-radius: 10px;
   display: inline-block;
}
@media only screen and (max-width:570px){
   .work-item{
      display: block;
   }
   .work-box{
      margin-top: 80px;
   }
}

//---------------------------- work section finish-----------------------------

//------------------------------ busines section begin----------------------------

.busines-section{
   background-color: #F5F5F5;
}
.busines-content{
   padding-top: 35px;
   padding-bottom: 45px;
}
.busines-box{
   width: 100%;
   max-width: 537px;
   margin: 0px auto;
   text-align: center;
   margin-bottom: 93px;
}
.busines-title{
   font-weight: bold;
   font-size: 32px;
   line-height: 100%;
   line-height: 48px;
   color: #22343D;
}
.busines-list{
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   width: 100%;
   max-width: 700px;
   margin: 0px auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.busines-item{
   width: 100%;
   max-width: 250px;
   text-align: center;
}
.enter-title{
   margin-top: 27px;
   margin-bottom: 16px;
   color: #000;
   font-weight: 500;
   font-size: 24px;
   line-height: 78%;
}
.busines-text{
   font-weight: 400;
   font-size: 18px;
   line-height: 119%;
   line-height: 32px;
   color: #22343D;
   margin-bottom: 12px;
}
.enter-text{
   font-weight: 500;
   font-size: 16px;
   line-height: 117%;
   line-height: 28px;
   color: #000;
}

@media only screen and (max-width:570px){
   .busines-list{
      display: block;
   }
}


.customer-footer{
   background-color: #F5F5F5;
}
.diaz-footer{
   margin-top: 150px;
}
