

.footer-top {
    width: 968px;
    margin: auto;
    display: flex;
    padding: 14px 36px 0 51px;
    background-color: #02897A;
    border-radius: 32px;
    margin-bottom: 150px;
}

.footer-top__wrapper {
    padding-top: 49px;
    display: inline-block;
    margin-right: 20px;
    width: 510px;
}

.footer-top__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}

.footer-top__link {
    margin-bottom: 75px;
    text-decoration: none;
    padding: 13px 35px 7px 33px;
    margin-top: 60px;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
    background-color: #FFFFFF;
    border-radius: 8px;
}

// footer end
.footer-end {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-end__link{
    margin-top: 28px;
    margin-left: 16px;
}

.footer-end__link {
    display: inline-block;
}

.footer-end__two {
    display: flex;
    flex-direction: column;
}

.footer-end__strong {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #22343D;
}

.footer-end__linkk {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
    color: #22343D;
}

.footer-end__label {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #22343D;
}

.footer-end__input {
    display: block;
    margin-top: 34px;
    padding: 5px 0 5px 15px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    margin-bottom: 21px;
    outline: none;
}

.footer-end__btn {
    padding: 8px 15px 7px 15px;
    border: none;
    background-color: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-end__end {
    display: block;
    text-align: center;
    margin-bottom: 46px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 188%;
    color: #22343D;
}